* {
  font-family: "Noto Sans JP", sans-serif;
}

.signup {
  height: 100%;
  width: 90%;
  max-width: 40rem;
  margin: 20rem auto;
  padding: 2rem;
}

.button {
  text-align: center;
}

.signup {
  margin-bottom: 1rem;
}

.signup input,
.signup label {
  display: block;
}

.signup label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.signup input,
.signup select {
  font: inherit;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 100%;
  margin-bottom: 0.5rem;
}

.signup input:focus {
  outline: none;
  border-color: #240370;
  background-color: #e0d4fd;
}

button {
  font: inherit;
  background-color: #240370;
  color: white;
  border: 1px solid #240370;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled,
button:disabled:hover,
button:disabled:active {
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}

.button {
  text-align: right;
  margin-top: 1em;
}
